body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #d7d7ea;
}
.app {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.app h2 {
    color: #2c3e50;
}
.app p {
    color: #34495e;
}

h1 {
    text-align: center;
}

footer {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #9b9bca;
}

