{% extends 'sapp/layoute.html' %}

{% block title %}
    <title>Perrot Django</title>
{% endblock %}

{% block content%}
<section>
    <h2>Приложения, созданные на Django</h2>
</section>
<section>
    <div class="app">
        <h3>OpenCart</h3>
        <p>OpenCart — это платформа для создания интернет-магазинов, которая предоставляет пользователям возможность легко установить магазин онлайн, настроить его и управлять. Хотя OpenCart не является исключительно Django-приложением, существуют проекты, которые интегрируют его с Django для расширенной функциональности и кастомизации.</p>
    </div>

    <div class="app">
        <h3>Saleor</h3>
        <p>Saleor — это высокопроизводительная платформа для электронной коммерции, построенная на Django и GraphQL. Она предлагает обширные возможности для создания интернет-магазинов, включая управление продуктами, заказами и клиентами, а также интеграцию с платежными системами и доставкой.</p>
    </div>

    <div class="app">
        <h3>Wagtail</h3>
        <p>Wagtail — это мощная система управления контентом (CMS), созданная на Django. Она широко используется для разработки корпоративных сайтов, блогов и других контент-ориентированных приложений. Wagtail предоставляет удобный интерфейс для редакторов и гибкие возможности кастомизации для разработчиков.</p>
    </div>

    <div class="app">
        <h3>Mezzanine</h3>
        <p>
        Mezzanine — это еще одна популярная CMS на Django, которая предлагает разнообразные функции для создания и управления веб-сайтами. Она поддерживает блоги, интернет-магазины, портфолио и другие виды сайтов благодаря широкому набору встроенных модулей.</p>
    </div>

    <div class="app">
        <h2>Oscar</h2>
        <p>Oscar — это фреймворк для создания интернет-магазинов на Django, который предоставляет мощные инструменты для управления сложными каталогами продуктов и заказами. Он поддерживает гибкую архитектуру, позволяющую настраивать и расширять функциональность согласно бизнес-потребностям.</p>
    </div>
</section>
{% endblock %}