{% extends 'sapp/layoute.html' %}

{% block title %}
    <title>Perrot Django</title>
{% endblock %}

{% block content%}

   <div class="comparison">
        <h2>Сравнение Django и Flask</h2>
        <div class="app">
            <h3>Django</h3>
            <ul>
                <li>Django — это фреймворк с полным стеком, включающий множество встроенных функций.</li>
                <li>Он следует принципу "Батарейки включены", предоставляя готовые решения.</li>
                <li>Django идеально подходит для крупных проектов, требующих сложной функциональности.</li>
                <li>Фреймворк имеет встроенную систему аутентификации и админ-панель.</li>
                <li>Django использует ORM для работы с базами данных, что упрощает взаимодействие с ними.</li>
                <li>Он поддерживает шаблоны, обеспечивающие простое создание динамических веб-страниц.</li>
                <li>Большое сообщество и обширная документация делают Django легким для изучения.</li>
            </ul>
        </div>
        <div class="app">
            <h3>Flask</h3>
            <ul>
                <li>Flask — это микрофреймворк, который предоставляет минимальный набор функций.</li>
                <li>Он даёт больше гибкости и контроля над проектом, чем Django.</li>
                <li>Flask идеально подходит для небольших и средних приложений.</li>
                <li>Фреймворк позволяет легко добавлять сторонние библиотеки и расширения.</li>
                <li>Flask имеет простой и интуитивно понятный API, что ускоряет разработку.</li>
                <li>Он предоставляет возможности для создания API и микросервисов.</li>
                <li>Flask имеет небольшую кривую обучения, что делает его доступным для новичков.</li>
            </ul>
        </div>
    </div>

{% endblock %}