{% extends 'sapp/layoute.html' %}

{% block title %}
    <title>Perrot Django</title>
{% endblock %}

{% block content%}
    <h2>Добро пожаловать на сайт {{caption}}!</h2>
    <div class="app">

        <h3>О проекте</h3>
        <p>Этот проект создан для демонстрации возможностей Django, одного из самых популярных фреймворков для веб-разработки на языке Python.</p>
    </div>
    <div class="app">
        <h3>Особенности</h3>
        <ul>
            <li><strong>Быстрая разработка:</strong> благодаря встроенным инструментам и библиотекам.</li>
            <li><strong>Безопасность:</strong> защита от распространенных веб-угроз.</li>
            <li><strong>Масштабируемость:</strong> способен выдерживать высокие нагрузки.</li>
        </ul>
    </div>
    <div class="app">
        <h3>Как начать</h3>
        <p>Чтобы начать работу с Django, установите его с помощью команды <code>pip install django</code> и создайте новый проект с помощью <code>django-admin startproject</code>.</p>
    </div>

{% endblock %}

