{% extends 'sapp/layoute.html' %}

{% block title %}
    <title>Perrot Django</title>
{% endblock %}

{% block content%}

    <section>
        <h2>Примеры использования Django различными компаниями</h2>
    </section>
    <section>
        <div class="app">
            <h3>Instagram</h3>
            <p>Instagram использует Django для обработки миллионов активных пользователей ежедневно. Django позволяет Instagram масштабировать и обрабатывать огромные объёмы данных благодаря своей гибкости и мощным возможностям.</p>
        </div>

        <div class="app">
            <h3>Disqus</h3>
            <p>Disqus, платформа для комментариев, построена на Django. Она использует Django для управления миллионами пользователей и интеграций на тысячах сайтов, обеспечивая стабильность и быстрое развертывание новых функций.</p>
        </div>

        <div class="app">
            <h3>Mozilla</h3>
            <p>Mozilla использует Django для различных проектов, включая серверную часть для некоторых своих веб-сервисов. Благодаря Django, Mozilla может быстро разрабатывать и внедрять новые веб-приложения.</p>
        </div>

        <div class="app">
            <h3>Bitbucket</h3>
            <p>Bitbucket, хостинг для репозиториев, использует Django для управления пользователями и репозиториями. Django позволяет Bitbucket обрабатывать сложные запросы и поддерживать высокую нагрузку пользователей.</p>
        </div>

        <div class="app">
            <h3>The Washington Post</h3>
            <p>The Washington Post использует Django для управления своим контентом и новостными приложениями. Django помогает в обеспечении гибкости и скорости публикации новостей в цифровой среде.</p>
        </div>
    </section>

{% endblock %}